@font-face {
    font-family:"Cookie";
    src: url("../fonts/Cookie-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Raleway";
    src: url("../fonts/Raleway-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Alegreya Sans SC";
    src: url("../fonts/AlegreyaSansSC-Light.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:"Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:"Quicksand Light";
    src: url("../fonts/Quicksand-Light.ttf") /* TTF file for CSS3 browsers */
}

html,
body
{
    width: 100%;
    height: 100%;
}

.no-gutter{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font: normal 50px 'Cookie', cursive;
    margin: 20px auto;
}

#comment{
    text-align: center;
    font: normal 50px 'Cookie', cursive;
    margin-top: 50px;
    margin-bottom: 10px;
}

.btn{
    font-family: 'Raleway', sans-serif;
    margin: 10px auto;
    padding: 0;
    height: 40px;
    width: 100px !important;
    background-color: #73C2FB;
    bottom: 50px;
}

.panel-body{
    padding: 0;
}

.cover{
   height: 250px;
   width: 100%;
   background-color: #73C2FB;
}

.incover{
   height: 100px;
   width: 100%;
   background-color: #73C2FB;
}

.big{
    font: normal 50px 'Quicksand Light', sans-serif;
    color: #FFF;
    text-align: center;
    padding-top: 60px;
}

.small{
    font: normal 40px 'Quicksand', sans-serif;
    color: #FFF;
    text-align: center;
    padding-top: 10px;
}

.smaller{
    font: normal 20px 'Quicksand', sans-serif;
    color: #000;
    padding-top: 20px;
    text-align: center;
    margin: 0;
}

#date{
    font: normal 20px 'Quicksand', sans-serif;
    color: #FFF;
    text-align: center;
    padding-top: 0;
}

#Time-In, #Time-Out{
    display: inline;
}

.timeLogs{
    padding: 20px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #F3F3F3;
    text-align: center;
    width:100%;
}

.label{
    font: normal 10px 'Quicksand', sans-serif;
    border-style: none;
    display: block;
    background-color: #F3F3F3;
    color: #000;
    margin: 5px;
    text-decoration: none;
}

.active{
    color: #73C2FB;
}

img{
    height: 30%;
    width: 30%;
}

.login{
    bottom: 20px;
}